header {
  text-align: center;
}
main {
  text-align: center;
}
#container {
  border: 3px solid black;
  height: 600px;
  width: 70%;
  margin-left: 15%;
  border-radius: 30px;
}
#signIn,
#signUp {
  height: 500px;
  width: 45%;
  display: block;
}
#signIn {

  float: left;

  margin-left: 2.5%;
  margin-top: 50px;

}
#signIn h2 {
  padding-bottom: 80px;
}

#signUp {
  float: right;

  margin-right: 2.5%;
  margin-top: 50px;

}
label {
  font-size: 25px;
  display: block;
}

input {
  border-radius: 5px;
  padding-bottom: 15px;
  font-size: 25px;
  width: 100%;
}

#submitSignIn {
  height: 25px;
  border-radius: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 100px;
}
#submitSignUp {
  height: 25px;
  border-radius: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 100px;
}
#submitSignIn:hover, #submitSignUp:hover {
  background-color: grey;
}