header {
  text-align: center;
}
main {
  text-align: center;
}
#container {
  border: 3px solid black;
  height: 600px;
  width: 70%;
  margin-left: 15%;
  border-radius: 30px;
  background-color: blue;
}
#signIn,
#signUp {
  height: 500px;
  width: 45%;
  display: block;
}
#signIn {
  border-top: 4px solid black;
  border-bottom: 2px solid black;
  border-right: 4px solid black;
  float: left;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 2.5%;
  margin-top: 50px;
  background-image: linear-gradient(
    to left,
    rgb(193, 246, 255),
    rgb(111, 233, 255),
    rgb(0, 217, 255),
    blue
  );
}
#signIn h2 {
  padding-bottom: 80px;
}

#signUp {
  border-top: 4px solid black;
  border-bottom: 2px solid black;
  border-left: 4px solid black;
  float: right;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 2.5%;
  margin-top: 50px;
  background-image: linear-gradient(
    to right,
    rgb(193, 246, 255),
    rgb(111, 233, 255),
    rgb(0, 217, 255),
    blue
  );
}
label {
  font-size: 25px;
  display: block;
}

input {
  border-radius: 5px;
  padding-bottom: 15px;
  font-size: 25px;
}

#submitSignIn {
  height: 25px;
  border-radius: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 100px;
}
#submitSignUp {
  height: 25px;
  border-radius: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 100px;
}
