* {
  text-align: center;
}
#map {
  position: relative;
  background-color: gray;
  border: 5px solid black;
  height: 600px;
  width: 1500px;
}
#player {
  position: absolute;
  background-image: url("plane.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}
