header {
  text-align: center;
}
main {
  display: block;
  text-align: center;
}
h1 {
  padding-bottom: 40px;
  font-size: 60px;
}
h2 {
  border: 1px solid black;
  width: 50%;
  border-radius: 10px;
  display: block;
}
h2 a {
  color: black;
  text-decoration: none;
}
iframe {
  width: 90%;
  height: 300px;
}
