#body {
  height: 1000px;
  width: 100%;
  background-color: rgb(255, 137, 137);
}
.target {
  font-size: 40px;
  text-align: start;
}

#x1,
#x2,
#x3,
#x4,
#x5 {
  position: absolute;
  margin-left: 700px;
  margin-top: 50px;
  border-radius: 100px;
}
#o1,
#o2,
#o3,
#o4,
#o5 {
  position: absolute;
  margin-left: 850px;
  margin-top: 50px;
  border-radius: 100px;
}
.o:hover,
.x:hover {
  background-color: rgb(255, 106, 106);
  transition: all 0.3s ease-in-out;
}
#target1 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 600px;
  margin-top: 200px;
}
#target2 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 750px;
  margin-top: 200px;
}
#target3 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 900px;
  margin-top: 200px;
}
#target4 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 600px;
  margin-top: 350px;
}
#target5 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 750px;
  margin-top: 350px;
}
#target6 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 900px;
  margin-top: 350px;
}
#target7 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 600px;
  margin-top: 500px;
}
#target8 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 750px;
  margin-top: 500px;
}
#target9 {
  height: 125px;
  width: 125px;
  border: 5px solid black;
  position: absolute;
  margin-left: 900px;
  margin-top: 500px;
}
