#tictaktoe div {
  width: 33%;
  height: 33%;
  flex: 1 0 33%;
}
#drag1,
#drag2 {
  font-size: 150px;
  margin-top: 10px;
  margin-left: 20px;
  height: 150px;
  width: 150px;
  position: absolute;
}

#tictaktoe {
  position: absolute;
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  margin-left: 50%;
  margin-top: 5%;
  text-align: center;
}
#sidebar {
  width: 20%;
  position: absolute;
  margin-left: 10%;
  height: 98%;
  background-color: rgb(123, 114, 250);
}
#piecesX {
  width: 45%;
  height: 55%;
  position: absolute;
  margin-left: 27%;
  margin-top: 60%;
  background-color: transparent;
}
#piecesO {
  width: 45%;
  height: 55%;
  position: absolute;
  margin-left: 27%;
  margin-top: 110%;
}
#title {
  position: absolute;
  font-size: 70px;
  transform: rotate(270deg);
  margin-left: -8%;
  margin-top: 22%;
}
.box1 {
  border-top: transparent;
  border-left: transparent;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
}
.box2 {
  border-bottom: 2px solid blue;
}
.box3 {
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
}

.box4 {
  border-right: 2px solid blue;
}
.box6 {
  border-left: 2px solid blue;
}
.box7 {
  border-top: 2px solid blue;
  border-right: 2px solid blue;
}
.box8 {
  border-top: 2px solid blue;
}
.box9 {
  border-left: 2px solid blue;
  border-top: 2px solid blue;
}
